// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.my-page {
  margin-left: 200px;
}

table {
  padding: 10px;
}

td {
  padding: 10px;
}

.my-diys {
  margin-left: 200px;
}

h2 {
  padding: 10px;
}

h3 {
  padding-top: 20px;
}

p {
  padding: 5px;
}