// Place all the styles related to the public/notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notifications-1 {
  margin: 0 auto;
  width: 600px;
}