<div class="toppage">
  <h2 class="top-title">ようこそ&emsp;お家で職人&emsp;へ</h2>
  <div class="top-visual">
    <div class="top-visual__image"></div>
    <div class="top-visual__text">
    <h4>
      <p class="top-visual__text--title">About</p>
        &emsp;誰でも自宅で簡単に「ものづくり」ができ、
        アクセサリーなどの小物から、家具などの大掛かりなものまで
        幅広く制作物を共有・評価できるサイト。<br>
        &emsp;ユーザーが手作りしたものを共有し、他のユーザーも同じもの作る、
        またはアレンジするなど気軽に気に入ったものを評価・作成できる、
        いわば"DIY"に特化した新しいSNS。
    </h4>
    </div>
  </div>

  <div class="slideshow">
    <h2 class="top-visual__text--title">豊富なジャンル</h2>
      <div class="genres">
        <div class="gneres__image">
          <div class="genres__image--1">
            <p class="text">" Furniture "</P>
          </div>
          <div class="genres__image--2">
            <p class="text">" Home goods "</p>
          </div>
          <div class="genres__image--3">
            <p class="text">" Handicraft "</P>
          </div>
          <div class="genres__image--4">
            <p class="text">" Accessories "</P>
          </div>
          <div class="genres__image--5">
            <p class="text">" Other "</p>
          </div>
        </div>
      </div>
  </div>

  <div class="share">
    <h2 class="share__title">共有してみる</h2>
    <div class="share__action">
      <div class="share__action_pos">
        <i class="fas fa-arrow-circle-up"></i>&emsp;投稿する
      </div>
    </div>
    <div class="share__action">
      <div class="share__action_pos">
        <i class="fas fa-images"></i>&emsp;みんなの投稿
      </div>
    </div>
  </div>
</div>

