<div class="search-feild">
  <% if request.fullpath == "/" %>
    <%= search_form_for @q, url: search_diys_path do |f| %>
      <%= f.search_field :diy_name_cont %>
      <%= f.submit "検索" %>
    <% end %>
  <% end %>
</div>

<div class="main">
  <div class="sidebar">
    <p>genre</p>
  </div>
  <div class="main-diys">
    <h1>
      <span>みんなの投稿</span>
    </h1>
    <%= render 'public/diys/diys', diys: @diys %>
  </div>
</div>