<div class="toppage">
  <h2 class="top-title">ようこそ&emsp;お家で職人&emsp;へ</h2>
  <div class="top-visual">
    <div class="top-visual__image"></div>
    <div class="top-visual__text">
    <h4>
      <p class="top-visual__text--title">お家で職人　とは・・・</p>
        &emsp;誰でも自宅で簡単に「ものづくり」ができ
        アクセサリーなどの小物から、家具などの大掛かりなものまで
        幅広く制作物を共有・評価できるサイト。<br>
        &emsp;ユーザーが手作りしたものを共有し、他のユーザーも同じもの作る、
        またはアレンジするなど気軽に気に入ったものを評価・作成できる、
        いわば"DIY"に特化した新しいSNS。
    </h4>
    </div>
  </div>
  
  <div>
    <h2>・</h2>
  </div>
</div>

