<div class="main-1">
  <div class="my-diys">
  <h1>検索結果</h1>
    <div class="rootback">
      <%= link_to "戻る", index_path %>
    </div>
    <%= render "public/diys/diys", diys: @results %>
  </div>
</div>